.board {
  background-color: orange;
  padding: 5px;
  margin: 10px;
}

.board.player1 {
  background-color: red;
}

.board.player2 {
  background-color: black;
}

.board.tie {
  background-color: green;
}

.row {
  background-color: yellow;
  width: fit-content;
  margin: auto;
  height: fit-content;
}