.cell {
  display: inline-block;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 5px;
}

.cell.player1 {
  background-color: red;
}

.cell.player2 {
  background-color: black;
}

.cell.hovered.cell.player1 {
  background-color: rgba(255, 0, 0, 0.65);
}

.cell.hovered.cell.player2 {
  background-color: rgba(0, 0, 0, 0.65);
}